<thead>
	<th>Id</th>
	<th>Name</th>
	<th>Developer Name</th>
	<th>Description</th>
</thead>
<tbody>
	{{#each recordTypes as |rt|}}
		<tr>
			<td>
				{{rt.id}}
			</td>
			<td>
				{{rt.name}}
			</td>
			<td>
				{{rt.developerName}}
			</td>
			<td>
				{{rt.description}}
			</td>
		</tr>
	{{/each}}
</tbody>