<div class="columns is-gapless">
	<div class="column is-narrow">
		{{apex-log-menu apexLogs=model.logs onClick=(action "setActiveLog")}}
	</div>
	<div class="column">
		{{apex-log-body apexLog=activeApexLogRecord}}
	</div>
</div>