{{nav-bar user=auth.userInformation onLogout=(action "logout")}}

<div class="columns is-gapless">
	<div class="column is-narrow">
		<aside class="menu">
			<ul class="menu-list">
				<li>
					{{#link-to "main"}}
						<i class="fa fa-2x fa-tachometer" style="margin:5px;"></i>
					{{/link-to}}
				</li>
				<li>
					{{#link-to "main.test-runner"}}
						<i class="fa fa-2x fa-flask" style="margin:5px;"></i>
					{{/link-to}}
				</li>
				<li>
					{{#link-to "main.logging"}}
						<i class="fa fa-2x fa-list-alt" style="margin:5px;"></i>
					{{/link-to}}
				</li>
			</ul>
		</aside>
	</div>
	<div class="column">
		<div>{{outlet}}</div>
	</div>
</div>