{{#bulma-hero}}
	{{#bulma-hero-content}}
		<h1 class="title">
			SITH
		</h1>
		<h2 class="subtitle">
			A Salesforce app for developers 
		</h2>
		<hr />
		{{bulma-button onmousedown=(action "login") label="Login" isMedium=true isSuccess=true}}
	{{/bulma-hero-content}}
{{/bulma-hero}}

{{outlet}}